@import "lightMode.scss";

.chargingSession {
    position: fixed; 
    overflow-y: scroll;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    background: $global_background_color;
    flex-direction: column;
    justify-content: space-around;

    .progressBarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 10px;

        .progressBarRow {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .percentageCol {
                display: flex;
                justify-content: flex-end;
                padding: 0;
                margin: 0;
                max-width: 15%;
            }

            .barCol {
                padding: 0;
                margin: 0;
                min-width: 75%;
            }

            .progressBar {
                background-color: #c9cccf;
            }
        }
    }
    
    .statsContainer {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
        border: $global_border_color;
        background: $card_color;
        font-family: $family-font;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
