@import "lightMode.scss";

.feedback {
    position: fixed; 
    overflow-y: scroll;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    background: $global_background_color;
    flex-direction: column;

    .feedbackAlert {
        position: fixed;
        text-align: center;
        height: 10%; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
        margin-left: 1rem;
        margin-right: 1rem; 
    }

    .feedbackAlertBad {
        position: fixed;
        text-align: center;
        height: 15%; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
        margin-left: 1rem;
        margin-right: 1rem; 
    }


    .ratedButton {
        border: none !important;
        color: $feedback_vote;
        background: none !important;
        background-color: none !important;
    }

    .ratedButton:focus{
        border: none !important;
        color: $feedback_vote;
        background: none !important;
        background-color: none !important;
        box-shadow: none !important;
    }

    .unratedButton {
        border: none !important;
        color: $slider_circle_border;
        background-color: none !important;
        background: none !important;
    }

    .exitButton {
        border: none;
        color: $global_text_color;
        background: none;
    }

    .exitButton:hover {
        border: none !important;
        color: $global_text_color;
        background: none;
    }

    .exitButton:focus {
        border: none !important;
        color: $global_text_color;
        background: none;
    }

    
}

.centerFlexbox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feedbackForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.responsiveText {
    font-size: 2.5vh;
}


