@import "lightMode.scss";

.feedback {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $global_background_color;
    flex-direction: column;

    .iconRatingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        width: 100%;
    }

    .commentsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .commentsCol {
            display: flex;
            flex-direction: column;
        }
    }
    
}

.exitButton {
    border: none;
    color: $global_text_color;
    size: lg;
    background: none;
}

.exitRow {
    display: flex;
    width: 100%;
}

