@import "lightMode.scss";

.schedule {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    display: flex;
    background: $global_background_color;
    flex-direction: column;
    padding: 0;

    .navbarSchedule {
        background-color: gainsboro;
        box-shadow: $global_shadow;
    }

    .scheduleAlert {
        position: fixed;
        height: 10%;
        top: 40%;
        right: 0;
        bottom: 0;
        left: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .energyRow {
        margin-top: 1rem;

    }

    .modeRow {
        margin-top: 1rem;
    }

    .graphRow {
        width: 100%;
        margin-top: 1rem;
    }

    .energySelector {
        width: 100%;
        border-radius: $global_border_radius;
        border: $global_border_color !important;
        background: $card_color;
        font-family: $family-font;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: $global_shadow;
    }
    .slider {
        background-color: $slider-color;
    }

    .modeSelector {
        width: 100%;
        padding: 0%;

        .fastCol {
            padding-right: 0;
            width:33%;
        }
        .balancedCol{
            width:33%;
        }
        .solarCol {
            padding-left: 0;
            width:33%;
        }

        .selected {
            width: 100%;
            height: 100%;
            background: $green_button_color;
            box-shadow: $global_shadow !important;
            border-color: $global_border_color !important;
            .modeText {
                color: white;
                font-size: 2vh;
             }

             .modeIcon {
                color: white;
                font-size: 5vh;
             }
        }

        .deselected {
            width: 100%;
            height: 100%;
            background: $card-color;
            box-shadow: $global_shadow !important;
            border-color: $global_border_color !important;
            .modeText {
               color: $global_text_color;
               font-size: 2vh;
            }

            .modeIcon {
                color: $global_text_color;
                font-size: 5vh;
             }

        }
    }

    .goButtonRow {
        text-align: center;
    }
}
